doctype html

html(lang= htmlWebpackPlugin.options.language)
  include includes/_head.pug
  body(bgcolor= htmlWebpackPlugin.options.bgcolor)
    main(role="main")
      #modal
      #root  
    block scripts
    each js in htmlWebpackPlugin.files.js
      script(type='text/javascript', src=js)
